@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300&display=swap');

* {
    box-sizing: border-box; 
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1, h2 ,h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
}

img {
    display: block;
    text-align: center;
    width: 25%;
}

a {
    display: block;
    text-decoration: none;
    color: white;
}
/* 3 types of font: bold, normal ,italic */

#container{
    background-color: #2e3447;
}

/* first area start */

#first {
    width: 70%;
    margin: auto;
    padding-top: 0.3rem;
    padding-bottom: 3.5rem;
    height: 25%;
    color: white;
}

#header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}

#headerlinks{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

#description {
    display: flex;
    justify-content: space-between;
}

#usetext{
    width: 50%;
}

#topic {
    font-size: 2.5rem;
}

#explain{
    padding-bottom: 0.3rem;
}

/* first area end */

/* second area start */

#second {
    background-color: white;
    height: 25%;
    padding: 1rem;
    padding-bottom: 3rem;
    
    background-color: white;
}

#content {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
}

#informations{
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    margin-top: 1.75rem;
}

.info_item{
    width: 120px;
    height: 150px;
    font-size: 0.5rem;
}

.info {
    font-size: 1rem;
}

.table {
    height: 70%;
    border-style:solid;
    border-radius: 10%;
    border-color: #2986ff;
}

/* second area end */

/* third area start */

#third {
    background-color: #f0f0f0;
    height: 25%;
    padding: 3rem;
    padding-left: 6rem;
    padding-right: 6rem;
}

#quote {
    margin: auto;
    width: 60%;
    font-size: 1.8rem;
    font-style: italic;
}

#writer {
    text-align: right;
    font-size: 24px;
    font-weight:bold;
}

/* third area end */

/* fourth area start */

#fourth {
    background-color: #3882F6;
    width: 75%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 1.5rem;
    padding-left: 0rem;
    padding-right: 0px;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

#promotion {
    color: white;
    font-size: 1rem;
}

#promo_topic {
    font-size: 1.4rem;
}

.signup {
    border-style: solid;
    border-width: 2px;
    border-radius: 15%;
    font-size: 1rem;
    text-align: center;
    color: white;
    background-color: #3882F6;
    width: 5rem;
    padding: 0.25rem;
}

/* fourth area end */